<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="keywords" content="[keywords]">
    <title>[title]</title>
<!--    <link rel="stylesheet" type="text/css" href="../../static/css/basic.css">-->
<!--    <script type="text/javascript" src="../../static/js/basic.js"></script>-->
    <link rel="stylesheet" type="text/css" href="__CSS__/basic.css">
    <!-- <script type="text/javascript" src="__JS__/basic.js"></script> -->
<!--    {load href='__CSS__/basic.css'}-->
<!--    {load href='__JS__/basic.js'}-->
<!--    {load href='__CSS__/basic.css,__JS__/basic.js'}-->
<!--    {js href='__JS__/basic.css'}-->
<!--    {css href='__CSS__/basic.css,__JS__/basic.js''}-->
</head>

<body>
    头部<br>